.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--page-bg);
    /* padding: 30px; */
    z-index: 999;
  }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header__row {
      /* justify-content: start; */
    }
  }
  
  .header__functionality {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }



  .header__btn{
    color: var(--accent);

    @media screen and (max-width: 1024px){
      display: none;
    }
  }

  .header__btn:not(:last-child){
    margin-right: 15px;
  }

  .header__btn:hover{
    color: var(--accent-hover);
  }